<template name="home">
  <div class="empty col-md-2"></div>
  <div class="left col-md-3">
    <div class="writing-container">
      <h1 class="heading">IconWriter</h1>
      <textarea class="writing-box" type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="{{autofocus}}" placeholder="Type text here..."></textarea>
    </div>
  </div>
  <div class="right col-md-5">
    <img class="iphone" src="iphone.png">
    <table class="icon-table">
      {{#with table}}
        {{#each rows}}
          <tr>
            {{#each letters}}
              <td><img class="icon" src="{{this}}.png"><p>Google Maps</p></td>
            {{/each}}
          </tr>
        {{/each}}
      {{/with}}
    </table>

  </div>
  <div class="empty col-md-2"></div>
</template>

<template name="icon-table">

</template>

<template name="tr">
  {{#each letters}}
    <td><img class="icon" src="{{letter}}.png"><p>Google Maps</p></td>
  {{/each}}
</template>