<template name="home">
  <div class="empty col-md-2"></div>
  <div class="left col-md-3">
    <div class="writing-container">
      <h1 class="heading">IconWriter</h1>
      <textarea class="writing-box" type="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" autofocus="{{autofocus}}" placeholder="Type text here..."></textarea>
    </div>
  </div>
  <div class="right col-md-5">
    <img class="iphone" src="iphone.png">
    <table class="icon-table">
      <tr>
        <td><img class="icon" src="a.png"><p>Google Maps</p></td>
        <td><img class="icon" src="b.png"><p>Google Maps</p></td>
        <td><img class="icon" src="c.png"><p>Google Maps</p></td>
      </tr>
      <tr>
        <td><img class="icon" src="d.png"><p>Google Maps</p></td>
        <td><img class="icon" src="a.png"><p>Google Maps</p></td>
        <td><img class="icon" src="b.png"><p>Google Maps</p></td>
      </tr>
      <tr>
        <td><img class="icon" src="c.png"><p>Google Maps</p></td>
        <td><img class="icon" src="d.png"><p>Google Maps</p></td>
        <td><img class="icon" src="a.png"><p>Google Maps</p></td>
      </tr>
      <tr>
        <td><img class="icon" src="b.png"><p>Google Maps</p></td>
        <td><img class="icon" src="c.png"><p>Google Maps</p></td>
        <td><img class="icon" src="d.png"><p>Google Maps</p></td>
      </tr>
    </table>
  </div>
  <div class="empty col-md-2"></div>
</template>