<template name="legendContent">

  <div class="writing-container legend-container">
    <div class="col-xs-12">
      <h2 class="legend-heading">IconWriter</h2>
      <p class="tip-text">Type something and Iconify it! Certain words make different icons. Click <a href='#' class='legend' style='color: white'>'Icon Menu'</a> and a list of special combinations will appear below.</p>
    </div>
    {{> likes}}
  </div>

  <div class="writing-container target legend-container animated fadeOut">
    <div class="col-xs-12">
      <h2 class="legend-heading">Tips</h2>
      <p class="tip-text">Some letters have up to 2 alternates, like 'b_2' or 'g_3'.</p>
      <p class="tip-text">Click any of the words below to add it instantly.</p>
      <br>
    </div>
    <div class="col-xs-12 col-md-4 legend-col">
      <h2 class="legend-heading">Popular Apps</h2>
      <button type="button" class="btn options legend-text">netflix</button>
      <button type="button" class="btn options legend-text">whatsapp</button>
      <button type="button" class="btn options legend-text">tweet</button>
      <button type="button" class="btn options legend-text">youtube</button>
      <button type="button" class="btn options legend-text">templerun</button>
      <button type="button" class="btn options legend-text">shazam</button>
      <button type="button" class="btn options legend-text">snapchat</button>
      <button type="button" class="btn options legend-text">minecraft</button>
      <button type="button" class="btn options legend-text">messenger</button>
      <button type="button" class="btn options legend-text">instagram</button>
      <button type="button" class="btn options legend-text">clashofclans</button>
      <button type="button" class="btn options legend-text">fruitninja</button>
      <button type="button" class="btn options legend-text">candycrush</button>
      <button type="button" class="btn options legend-text">angrybirds</button>
      <button type="button" class="btn options legend-text">2048</button>
    </div>
    <div class="col-xs-12 col-md-4 legend-col">
      <h2 class="legend-heading">Letter Combos</h2>
      <button type="button" class="btn options legend-text">in</button>
      <button type="button" class="btn options legend-text">yolo</button>
      <button type="button" class="btn options legend-text">epi</button>
      <button type="button" class="btn options legend-text">ted</button>
      <button type="button" class="btn options legend-text">oo</button>
      <button type="button" class="btn options legend-text">ok</button>
      <button type="button" class="btn options legend-text">dd</button>
      <button type="button" class="btn options legend-text">sky</button>
      <button type="button" class="btn options legend-text">cc</button>
      <button type="button" class="btn options legend-text">ps</button>
      <button type="button" class="btn options legend-text">be</button>
      <button type="button" class="btn options legend-text">aa</button>
      <button type="button" class="btn options legend-text">atm</button>
      <button type="button" class="btn options legend-text">jello</button>
      <button type="button" class="btn options legend-text">tea</button>
      <button type="button" class="btn options legend-text">xs</button>
      <button type="button" class="btn options legend-text">ib</button>
      <button type="button" class="btn options legend-text">imo</button>
      <button type="button" class="btn options legend-text">yum</button>
      <button type="button" class="btn options legend-text">maxi</button>
      <button type="button" class="btn options legend-text">line</button>
      <button type="button" class="btn options legend-text">dragon</button>
      <button type="button" class="btn options legend-text">yelp</button>
    </div>
    <div class="col-xs-12 col-md-4 legend-col">
      <h2 class="legend-heading">Emoticon Icons</h2>
      <button type="button" class="btn options legend-text">vision</button>
      <button type="button" class="btn options legend-text">heart</button>
      <button type="button" class="btn options legend-text">airplane</button>
      <button type="button" class="btn options legend-text">creeper</button>
      <button type="button" class="btn options legend-text">check</button>
      <button type="button" class="btn options legend-text">scarykids</button>
      <button type="button" class="btn options legend-text">sunny</button>
      <button type="button" class="btn options legend-text">starry</button>
      <button type="button" class="btn options legend-text">jpyen</button>
      <button type="button" class="btn options legend-text">fixit</button>
      <button type="button" class="btn options legend-text">pressplay</button>
      <button type="button" class="btn options legend-text">musicnote</button>
      <button type="button" class="btn options legend-text">unimpressed</button>
      <button type="button" class="btn options legend-text">interested</button>
      <button type="button" class="btn options legend-text">burger</button>
      <button type="button" class="btn options legend-text">book</button>
      <button type="button" class="btn options legend-text">smile</button>
      <button type="button" class="btn options legend-text">joyous</button>
      <button type="button" class="btn options legend-text">globe</button>
      <button type="button" class="btn options legend-text">holybible</button>
      <button type="button" class="btn options legend-text">asleep</button>
      <button type="button" class="btn options legend-text">determined</button>
      <button type="button" class="btn options legend-text">hello</button>
      <button type="button" class="btn options legend-text">kitty</button>
      <button type="button" class="btn options legend-text">quotes</button>
      <button type="button" class="btn options legend-text">42</button>
    </div>
<!--       <div class="col-md-6 legend-col">
      <h2 class="legend-heading">Symbols</h2>
      <button type="button" class="btn options legend-text">!?</button>
      <button type="button" class="btn options legend-text"> </button>
      <button type="button" class="btn options legend-text">?</button>
      <button type="button" class="btn options legend-text">.</button>
      <button type="button" class="btn options legend-text">!</button>
      <button type="button" class="btn options legend-text">+</button>
      <button type="button" class="btn options legend-text">$</button>
    </div> -->
  </div>

</template>