<template name="about">
  <div class="about">
    <h2 class="about-heading">Thanks: </h2>
    <p class="about-text">...to Gadget Hacks for the home screen image!</p>
    <h2 class="about-heading">Disclaimer: </h2>
    <p class="about-text">This page is not affiliated with or endorsed by any of the companies whose icons or phones appear on it. Icons and app titles on this page may differ from actual app icons and app titles and are not intended to be exact representations. This page is not for profit and is solely intended for creating artistic images or messages using app icons.</p>
  </div>
</template>