body {
  background-image: url(/app_background.jpg);
}

textarea {
  resize: none;
}

td {
  width: 4.68em;
  height: 5.25em;
  text-align: center;
}

.navbar {
  margin-bottom: 0em;
}

.navbar-brand {
  font-size: 3em;
}

.about-link {
  font-size: 1.5em;
}

.writing-container {
  margin: auto;
  margin-top: 2em;
  padding: 1em 2em 1em 2em;
  width: 26em;
  border: 1px solid gray;
  border-radius: 3em;
  background-color: rgba(0,0,0,.4);
  text-align: center;
}

.heading {
  text-align: center;
  color: white;
}

.writing-box {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  background-color: rgba(255,255,255,1);
  color: black;
  font-size: 2.5em;
}

.options {
  margin: 1em 1.5em;
  background-color: rgba(50,50,50,1);
  color: rgba(200,200,200,1);
}

.btn.options:hover {
  color: white;
}

.iphone {
  position: absolute;
  height: 50em;
}

.icon-table-container {
  overflow: hidden;
  position: absolute;
  background-color: transparent;
  top: 9.2em;
  left: 16.6em;
  max-height: 26.42em;
  text-align: center;
}

.icon {
  width: 3.7em;
  height: 3.7em;
}

.icon-table > tr > td > p {
  margin-top: .8em;
  font-size: .65em;
  line-height: .65em;
  font-family: 'Open Sans', sans-serif;
  color: rgba(220,220,220,1);
}

.writing-area {
  position: absolute;
  left: 10em;
  overflow: scroll;
  height: 50em;
  min-width: 39.2em;
  margin-top: 1em;
  padding: 1em;
  background-color: rgba(0,0,0,.6);
  border: 1px solid gray;
  border-radius: 1em;
}

.icon-table2 {
  background-color: transparent;
  text-align: left;
}