body, html {
  margin: 0;
  height: 100%;
}

body {
  max-width: 1500px;
  margin: auto;
  background-color: black
}

#main {
  height: 100%;
  overflow-y: auto;
  background-image: url(/app_background.jpg);
  background-size: cover;
}

textarea {
  resize: none;
}

td {
  width: 61px;
  height: 68px;
  text-align: center;
}

.navbar {
  margin-bottom: 0em;
}

.navbar-brand {
  font-size: 2.5em;
}

.about-link {
  font-size: 1.5em;
}

.empty {
}

.left {
  text-align: center;
}

.writing-container {
  overflow: hidden;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  padding: 1em 2em;
  width: 450px;
  border: 1px solid gray;
  border-radius: 3em;
  background-color: rgba(0,0,0,.4);
  text-align: center;
}

.heading {
  text-align: center;
  color: white;
}

.writing-box {
  display: block;
  width: 8em;
  margin-top: .8em;
  margin-left: auto;
  margin-right: auto;
  border-radius: .5em;
  background-color: rgba(255,255,255,1);
  color: black;
  font-size: 2.5em;
}

.options {
  margin: 1em 1em 0em;
  background-color: transparent;
  color: rgba(200,200,200,1);
}

.btn.options:hover {
  color: white;
}

.submit {
  margin: .5em 0em 0em;
  padding: .2em 3em;
  font-size: 2em;
  border: 1px solid white;
  border-radius: .5em;
  background-color: rgba(0,0,0,1);
  color: rgba(200,200,200,1);
}

.legend, .essay, .legend-text {

}

.legend-container {
  margin-top: 0em;
  padding: 0em .5em 1em;
}

.legend-col:nth-child(1) {
  border-right: 1px solid gray;
}

.legend-heading {
  font-size: 1.5em;
  text-align: center;
  color: white;
}

.legend-text {
  display: block;
  margin: 0em;
  padding: 0em;
  font-size: 1.1em;
  line-height: 1.2em;
  color: rgba(180,180,180,1);
}

.right {
  text-align: left;
}

.iphone-container {
  height: 50px;
}

.iphone {
  position: absolute;
  height: 640px;
}

.icon-table-container {
  overflow: hidden;
  position: absolute;
  background-color: transparent;
  top: 117px;
  left: 44px;
  max-height: 26.42em;
  text-align: center;
}

.icon {
  width: 3.5em;
  height: 3.5em;
}

.icon-table > tr > td > p {
  margin-top: 5px;
  margin-bottom: 7px;
  font-size: 8.8px;
  line-height: 8.8px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(220,220,220,1);
}

.writing-area {
  overflow: scroll;
  width: 80%;
  height: 60%;
  margin: 2em auto;
  padding: 8px;
  background-color: rgba(0,0,0,.6);
  border: 1px solid gray;
  border-radius: 1em;
}

.icon-table2 {
  background-color: transparent;
  text-align: left;
}

@media only screen and (max-width : 768px) {
  .writing-container {
    margin-top: 7px;
    width: 420px;
  }
}

@media only screen and (max-width : 480px) {
  .left {
    padding: 0px;
  }
  .writing-container {
    width: 318px;
  }
  .writing-box {
    width: 240px;
    font-size: 1.5em;
  }
  .options {
    padding: 5px 0px;
  }
  .submit {
    padding: 8px 60px;
  }
  .writing-area {
    height: 90%;
  }
}