<template name="layout">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>

  <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '851835014840833',
        xfbml      : true,
        version    : 'v2.1'
      });
      // FB.getLoginStatus(function(response) {
      //   if (response.status === 'connected') {
      //     console.log('Logged in.');
      //   }
      //   else {
      //     FB.login();
      //   }
      // });
      // FB.login(function(){
      //   FB.api('/me/feed', 'post', {message: 'Hello, world!', privacy: {value: 'SELF'}}, function(response) {
      //     if (!response || response.error) {
      //       console.log(response.error);
      //     } else {
      //       alert('Post ID: ' + response.id);
      //     };
      //   });
      // }, {scope: 'publish_actions'}, function(response) {
      //     if (response.authResponse) {
      //       console.log("Logged in!");
      //     } else {
      //       console.log(response);
      //     };
      // });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

  {{> header}}
  <main id="main" role="main" class="row-fluid">
    {{> yield}}
  </main>
</template>